<h1>Contact Us:</h1>
<ul>
  <li>
    <h2> Jared Hawley </h2>
    <p> Email: jhawley@udel.edu </p>
    <p> Phone: 609-556-2466 </p>
  </li>
  <li>
      <h2> Kevin Doak </h2>
      <p> Email: email@udel.edu </p>
      <p> Phone: 000-000-0000 </p>
  </li>
  <li>
      <h2> Iqra Khaliq </h2>
      <p> Email: email@udel.edu </p>
      <p> Phone: 000-000-0000 </p>
  </li>
  <li>
      <h2> Javeria Khaliq </h2>
      <p> Email: email@udel.edu </p>
      <p> Phone: 000-000-0000 </p>
  </li>
  <li>
      <h2> Minji Kong </h2>
      <p> Email: email@udel.edu </p>
      <p> Phone: 000-000-0000 </p>
  </li>
  <li>
      <h2> Wei Zhang </h2>
      <p> Email: email@udel.edu </p>
      <p> Phone: 000-000-0000 </p>
  </li>  
</ul>

