<h1 style="text-align:center">Contact Us:</h1>
<div class="row">
    <div class="col-16">
        <div class= "card-deck" style="text-align:center">
            <div class="card">
                <div class="card-body" >
                    <h2> Jared Hawley </h2>
                    <p> Email: jhawley@udel.edu </p>
                    <p> Phone: 609-556-2466 </p>
                    </div>
            </div>
            <div class="card">
                    <div class="card-body">
                    <h2> Kevin Doak </h2>
                    <p> Email: kdoak@udel.edu </p>
                    <p> Phone: 302-450-6261 </p>
                    </div>
            </div>
            <div class="card">
                    <div class="card-body">
                    <h2> Iqra Khaliq </h2>
                    <p> Email: iqr@udel.edu </p>
                    <p> Phone: 332-343-3454 </p>
                    </div>
            </div>
            <div class="card">
                    <div class="card-body">
                    <h2> Javeria Khaliq </h2>
                    <p> Email: jkhaliq@udel.edu </p>
                    <p> Phone: 536-635-7879 </p>
                    </div>
            </div>
            <div class="card">
                    <div class="card-body">
                    <h2> Minji Kong </h2>
                    <p> Email: mkong@udel.edu </p>
                    <p> Phone: 302-123-4567 </p>
                    </div>
            </div>
            <div class="card">
                    <div class="card-body">
                    <h2> Wei Zhang </h2>
                    <p> Email: zwwpaul@udel.edu </p>
                    <p> Phone: 302-230-1492 </p>
                    </div>
            </div>
        </div>
    </div>
</div>